*{
    font-family: 'Roboto', sans-serif;
}
#arrows{
    display: flex;
    width: 1070px;
    justify-content: space-around;
}
.arrow{
    width:100px;
    height: auto;
}
.mainbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-text{
    font-size: 50px;
}
.score{
    font-size: 150px;
}
.timer{
    padding-top: 50px;
    font-size: 30px;
}
.timebar{
    height:30px;
    width: 600px;
    background-color: black;
}
.title{
    padding-top: 60px;
    font-size : 80px;
}
.space-bar-text{
    padding-top: 80px;
    font-size: 40px;
}
.game-over-text{
    padding-top: 30px;
    font-size: 100px;
}
.game-start-again-text{
    padding-top: 60px;
    font-size: 40px;
}
.final-score-text{
    padding-top: 60px;
    font-size: 60px;
}
.best-score-text{
    padding-top: 50px;
    font-size: 40px;
}
.new-best-score-text{
    padding-top: 30px;
    font-size: 50px;
}